{% extends 'base.html' %} {% load static %} {% block body %}
<div
  class="container"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
  "
>
<form class="row g-3" method="POST">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="customerName" class="form-label">Customer Name</label>
      <input type="text" class="form-control" id="customerName" />
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" />
    </div>
    <div class="col-12">
      <label for="mobileno" class="form-label">Mobile Number</label>
      <input type="tel" class="form-control" id="mobileno" />
    </div>

    <div class="col-md-6">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>
{% endblock %}
